---
import LanguageSelectDialog from "../components/LanguageSelectDialog.astro";
import ModalDialog from "../components/ModalDialog.astro";
import { t } from "i18next";
import { HeadHrefLangs } from "astro-i18next/components";
import "../styles/global.css";

export interface Props {
    title: string;
}

const { title } = Astro.props;
const underConstruction = import.meta.env.UNDER_CONSTRUCTION;
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="generator" content={Astro.generator} />
        <meta name="description" content={t("shared:Description")} />
        <link rel="alternate" hreflang="x-default" href={Astro.url.origin} />
        <HeadHrefLangs />
        <title>{title}</title>
        <!-- Dev icons -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/devicon.min.css" />
        <!-- Font Awesome -->
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
            integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
            crossorigin="anonymous"
            referrerPolicy="no-referrer"
        />
        <!-- Prevent FOUC -->
        <script src="/scripts/ThemeToggle.js" is:inline></script>
        <script is:inline>
            window.__matchMediaScheme();
        </script>
        <!-- Country flag emoji polyfill -->
        <script type="module" defer>
            import { polyfillCountryFlagEmojis } from "https://cdn.skypack.dev/country-flag-emoji-polyfill";
            polyfillCountryFlagEmojis();
        </script>
        <!-- Adobe Muli font -->
        <link rel="preload" href="https://use.typekit.net/bxg2com.css" as="style" />
        <link rel="stylesheet" href="https://use.typekit.net/bxg2com.css" />
    </head>
    <body>
        {
            underConstruction == "true" && (
                <ModalDialog dialogId="underConstruction" modalTitle="Site under construction" openDialog={true} closeButtonText={"Close"} openOnce={true}>
                    <div slot="body">
                        <p>Site is currently under construction and work in progress. Expect random crawling bugs.</p>
                    </div>
                </ModalDialog>
            )
        }
        <LanguageSelectDialog />
        <slot />
    </body><script>
        import { InitializeTooltips } from "../scripts/tooltips";
        import "../scripts/timeline";
        import "../scripts/header";
        import "../scripts/skillcard";
        import "../scripts/counters";

        InitializeTooltips();
    </script>
</html>
